<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Survey Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document). ready(function (){
            var socket = io(); //1
            var form = $('#form');
            var name = $('input[name="name"]');
            var name = $("input[name='name']")
            var location = $('select[name="location"]');
            var language = $('select[name="language"]');
            var comment = $('textarea[name="comment"]');
            form.submit(function(e){
                e.preventDefault();
                var post = { 
                    name: name.val(),
                    location: location.val(),
                    language: language.val(),
                    comment: comment.val()
                }
                console.log(post)
                socket.emit('form', { form: post }); //6
            })
            
            socket.on('greeting', function (data) { //4
              console.log(data.msg);
              console.log(socket.id) //5
            socket.emit('thankyou', { msg: 'Thank you for connecting me! - Client', id: socket.id }); //6
            });
        })
    </script>
</head>
<body>
    <div id="wrapper">
        <h1>Coding Dojo Survey</h1>
        <form id="form">
        <div class="input"><span class="label">Your Name:</span> <input type="text" name="name"></div>
        <div class="input"><span class="label">Dojo Location:</span>
            <select name="location">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Dallas">Dallas</option>
                <option value="Tysons Corner">Tysons Corner</option>
                <option value="Chicago">Chicago</option>
                <option value="Tulsa">Tulsa</option>
                <option value="East Bay">East Bay</option>
            </select>
        </div>
        <div class="input"><span class="label">Favorite Language:</span>
            <select name="language">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Java">Java</option>
                <option value="C#.NET">C#.NET</option>
                <option value="IOS">IOS</option>
            </select>
        </div>
        <div class="input"><span class="label">Comments:</span><br>
            <textarea name="comment"></textarea>
        </div>
        <input class="submit" type='Submit' value="Submit">
        </form>
    </div>
</body>
</html>